#tvcap .uEierd {
    background-color: #fcadcf;
}

#bottomads .uEierd {
    background-color: #F6E6C2;
}

.listing-picker-box{
    height: fit-content;
    width: fit-content;
    border-radius: 5px;
}
